# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Env / secrets
.env

# Rapports générés
reports/*.json
reports/*.txt
!reports/.gitkeep

# OS
.DS_Store

# Playwright
playwright-report/
reports/*.xlsx
docs/*.pdf
